@import '../../styles/sass-variables';

.sidebar {
  width: 20%;
  height: calc(100vh - 95px);
  background-color: var(--color-primary-light);
  color: var(--color-background);
  border-right: 1px solid rgba(white, 0.3);

  &_link {
    display: block;
    padding: 20px 10px;
    text-align: start;
    font-size: 16px;
    background-color: lighten($color-primary, 3);
    cursor: pointer;
    color: var(--color-background);
    text-decoration: none;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: $color-primary;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-white, 0.2);
    }
  }
}
